@media only screen and (max-width:739px){
    .sidebar_wrap {
        display: none;
    }

    img.logo-header,.logoheading, .navbar-toggler, #carouselExampleIndicators {
        display: none;
    }

    .menubars-wrapper {
        display: block;
    }

    .mobile-menu_modal {
        background-color: rgba(0,0,0,.3);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 21;
    }

    .mobile-menu_body {
        display: block;
        max-height: 100%;
        width: 80%;
        background-color: #fff;
        overflow-y: scroll;
    }

    .mobile-menu_container {
        padding: 16px 0 0 16px;
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .mobile-menu_user {
        padding: 16px 0 0 20px;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu_avatar_wrapper {
        position: relative;
        width: 92px;
    }

    .user-avatar {
        height: 80px;
        object-fit: cover;
        width: 80px;
    }

    .mobile-menu_username_wrapper {
        margin-top: 12px;
    }

    .mobile-menu_fullname {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    .mobile-menu_list_wrapper {
        margin-top: 24px;
    }
    
    .mobile-menu_list {
        padding-left: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 12px
    }

    .mobile-menu_item {
        font-size: 20px;
        line-height: 20px;
        list-style: none;
    }

    .mobile-menu_list li a {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        padding: 16px 0 16px 16px;
        transition: .3s;
    }

    .mobile-menubars_tag  {
        position: relative;
        top: 2px;
        left: 20px;
    }

    //Profile
    .leftcolumn {
        display: none;
    }

    .rightcolumn {
        width: 100%;  
        height: fit-content;
    }

    .profile-btn {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
}

@media only screen and (min-width:992px) and (max-width:1023px) {
    .navbar-expand-lg .navbar-nav, #carouselExampleIndicators {
        display: none;
    }

}

@media only screen and (min-width:740px) and (max-width:1023px) {
    .sidebar_wrap {
        display: none;
    }

    img.logo-header,.logoheading, .navbar-toggler, #carouselExampleIndicators {
        display: none;
    }

    .menubars-wrapper {
        display: block;
    }

    .mobile-menu_modal {
        background-color: rgba(0,0,0,.3);
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 21;
    }

    .mobile-menu_body {
        display: block;
        max-height: 100%;
        width: 60%;
        background-color: #fff;
        overflow-y: scroll;
    }

    .mobile-menu_container {
        padding: 16px 0 0 16px;
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }

    .mobile-menu_user {
        padding: 16px 0 0 20px;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu_avatar_wrapper {
        position: relative;
        width: 92px;
    }

    .user-avatar {
        height: 80px;
        object-fit: cover;
        width: 80px;
    }

    .mobile-menu_username_wrapper {
        margin-top: 12px;
    }

    .mobile-menu_fullname {
        font-size: 20px;
        font-weight: 600;
        margin: 0;
    }

    .mobile-menu_list_wrapper {
        margin-top: 24px;
    }
    
    .mobile-menu_list {
        padding-left: 0;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 0 12px
    }

    .mobile-menu_item {
        font-size: 20px;
        line-height: 20px;
        list-style: none;
    }

    .mobile-menu_list li a {
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        color: #333;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        padding: 16px 0 16px 16px;
        transition: .3s;
    }

    .mobile-menubars_tag  {
        position: relative;
        top: 2px;
        left: 20px;
    }

    //profile
    .profile-body {
        display: block;
    }

    .leftcolumn {
        width: 100%;
        margin-bottom: 50px;
    }

    .rightcolumn {
        width: 100%;
    }

    .profile-btn {
        width: 40%;
    }
}