<form class="form-auth mt-4 mb-5" name="login-form">
    <h2>Reset</h2>
    <div class="password inform"></div>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <label for="confirmPassword">Confirmpassword</label>
    <input type="password" name="confirmPassword" required>
    <div class="confirmPassword error"></div>        
    <button class="btn-auth-form">Send</button>
</form>

<script>
    const form = document.querySelector('form');
    const passwordError = document.querySelector('.password.error');
    const confirmPasswordError = document.querySelector('.confirmPassword.error');
    const passwordInform = document.querySelector('.password.inform');

    form.addEventListener('submit', async function (e) {
        e.preventDefault();

        // reset errors
        passwordError.textContent = '';
        confirmPasswordError.textContent = '';
        passwordInform.textContent = '';

        // get values
        const password = form.password.value;
        const confirmPassword = form.confirmPassword.value;

        if(password!=confirmPassword) {
            return confirmPasswordError.textContent = 'Confirmpassword not match';
        }

        const resetUrl = window.location.pathname;

        try {
            const res = await fetch(resetUrl, { 
                method: 'POST', 
                body: JSON.stringify({ password, confirmPassword }),
                headers: {'Content-Type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                passwordError.textContent = data.errors.password;
                confirmPasswordError.textContent = data.errors.confirmPassword;
            }            
            if (data.inform) {
                passwordInform.textContent = data.inform.expire;
            }
            if(data.user) {
                passwordInform.textContent = 'Password was changed';
            }
        }
        catch (err) {
            console.log(err);
        }
    });
</script>