@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  font-size: 22px;
  font-family: 'Quicksand', sans-serif; }

.home_wrapper {
  min-height: 100vh; }

.empty-display {
  width: -webkit-fill-available;
  justify-content: center;
  display: flex;
  margin-top: 10%; }

.card {
  margin-bottom: 30px; }

.navbar {
  --height: 66px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e8ebed;
  display: flex;
  font-size: 1.4rem;
  height: var(--height);
  left: 0;
  padding: 0 28px;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 20; }

img.logo-header {
  border-radius: 8px;
  height: 38px;
  object-fit: contain;
  width: 38px; }

.logoheading {
  display: contents;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-left: 16px; }

.menubars-wrapper {
  display: none; }

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 4px; }

.user-avatar.show {
  width: 50px;
  height: 50px; }

.user-menu {
  display: flex;
  align-items: center;
  justify-content: center; }

.dropdown-menu.show {
  inset: 52px 0px auto auto;
  box-shadow: 0 -4px 32px rgba(0, 0, 0, 0.2);
  transition: all .3s ease-in-out; }

#dropdownMenuButton {
  box-shadow: none; }

.btn-link-auth {
  border-radius: 36px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  color: #212529; }

.btn-link-auth:hover {
  text-decoration: none;
  color: #212529; }

.checkbox-select-all-options {
  width: 180px;
  margin: 0 16px; }

.notication-icon-wrap {
  padding: 8px;
  position: relative; }

.notication-icon-wrap:hover {
  cursor: pointer;
  opacity: 0.7; }

.app_sidebar-wrap {
  position: fixed;
  left: 0;
  top: 65px;
  background-color: #fff; }

.sidebar_wrap {
  --width: 96px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  left: 0;
  padding: 0 8px;
  position: sticky;
  top: 74px;
  width: var(--width);
  z-index: 8;
  height: 100vmax; }

.sidebar_list {
  padding-left: 0;
  list-style: none;
  justify-content: center; }

.sidebar_item {
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  color: #404040;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
  margin-top: 4px;
  width: 72px;
  margin-bottom: 5px; }

.sidebar_item.active {
  background-color: #e8ebed;
  color: #1a1a1a; }

.sidebar_item:hover {
  background-color: #f5f5f5;
  color: #1a1a1a;
  text-decoration: none; }

.sidebar_item span {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px; }

.home_wrapper {
  overflow: hidden;
  padding: 0 44px 74px; }

h5.card-title {
  font-size: 22px; }

.form-auth {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white; }

.form-auth > h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px; }

.form-auth > input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%; }

.form-auth > label {
  display: block;
  margin: 20px 0 10px; }

.btn-auth-form {
  border-radius: 36px;
  margin-top: 30px;
  border-radius: 36px;
  background: #FEE996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px; }

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold; }

.inform {
  color: #00ff40;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold; }

.search-not-found-img {
  margin-bottom: 66px;
  width: 100%; }

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  border-top: 1px solid #e8ebed; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0; }

.footer-basic li {
  padding: 0 10px; }

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-basic ul a:hover {
  opacity: 1; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px; }

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

#forgot-link {
  font-size: 18px; }

::-webkit-scrollbar {
  width: 12px;
  height: 4px; }

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa; }

::-webkit-scrollbar-thumb:hover {
  background: #fff; }

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA); }

@media only screen and (max-width: 739px) {
  .sidebar_wrap {
    display: none; }
  img.logo-header, .logoheading {
    display: none; }
  .menubars-wrapper {
    display: block; } }

@media only screen and (min-width: 740px) and (max-width: 1023px) {
  .sidebar_wrap {
    display: none; }
  img.logo-header, .logoheading {
    display: none; }
  .menubars-wrapper {
    display: block; } }
